*{
        box-sizing: border-box;
    }
    .body{
    font-family: Arial, Helvetica, sans-serif;
        width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 30px;
}
.menu{
    padding-left: 500px ;
    text-decoration: none;
    margin-right: 30px;
    display: flex;
}
.menu a{
     text-decoration: none;
    margin-right: 10px;
    color: gray;
}
.name{
    display: flex;
    font-size: 100px;
    padding-left: 200px ;
    max-width: 600px;
}

.blue{
    color: rgb(44, 44, 252);
}
.red{
    color: rgb(252, 22, 22);
}
.yellow{
    color: rgb(255, 196, 0);
}
.green{
    color: rgb(8, 112, 8);
}

.search{
  width: 100%;
  max-width: 600px;
  background-color: white;
  border-radius: 50px;
  padding: 0px 7px 0px 6px;
  box-shadow: 0 2px 5px white;
  margin-left: 10px;
  border-color: white;
  outline: none;

}

.container{
display: flex;
  border-radius: 70px;
    border:1px solid rgb(209, 209, 209); 
    box-shadow: 0 10px 24px rgb(207, 207, 207);
  margin-left: 125px;
  max-width: 500px;
  padding: 10px 10px 9px 10px;
  margin-bottom: 30px;
}
.container a{
    padding-right: 5px;
    padding-left: 5px;
}
.ai{
    background-color: rgb(224, 224, 224);
    max-width: 70px;
    padding-left: 10px;
}

.new{ 
    padding: 10px 18px 10px 18px;
    font-size: 25px;
    background-color: rgb(230, 244, 250);
    border-radius: 70px;
    text-decoration: none;
    margin: 350px;
    color: rgb(2, 41, 63);
}

.text{
     margin-left: 325px;
}

.footer{
    background-color: rgb(205, 228, 255);
    display: flex;
    padding-left: 470px ;
     border-radius: 70px;
    border:1px solid rgb(209, 209, 209); 
    box-shadow: 0 10px 24px rgb(207, 207, 207);
     margin-left: 500px;
  max-width: 190px;
  padding: 10px 10px 9px 10px;
  margin-top: 300px;
}
.footer a{
    color: black;
    text-decoration: none;
}